@page "/candidates"
@using System.Net.Http.Headers
@using Bruhunter.WebApp.Pages
@using Bruhunter.Shared.Projections
@namespace Bruhunter.Shared.Documents

@inject HttpClient Http
@inject IJSRuntime JsRuntime

<h1>Витрина кандидатов</h1>
@if (candidates == null)
{
    <p><em>Нет данных о кандидатах</em></p>
}
else
{
    <div class="border-left  p-4 ">
        <h4>Добавить нового кандидата</h4>
        <br>
        @if (candidateVacanciesProjection.Count() != 0)
        {
            <div class="row">
                <div class="col-md-2">
                    <label>Введите имя:</label>
                    <input class="form-control" @bind="name" />
                </div>
                <div class="col-md-2">
                    <label>Введите фамилию:</label>
                    <input class="form-control" @bind="lastName" />
                </div>
                <div class="col-md-2">
                    <label>Выберите вакансию:</label>
                    <select @bind="selectedActualVacancyId" class="form-control">
                        @foreach (var vacancy in candidateVacanciesProjection)
                        {
                            <option value=@vacancy.Id>@vacancy.Title</option>
                        }
                    </select>
                </div>
            </div>
            <br>
            <div>
                <button @onclick="AddCandidate" class="btn btn-primary size-2">Добавить</button>
            </div>
        }
        else
        {
            <p class="text-info"><em>Добавление временно недоступно. Нет доступных вакансий.</em></p>
        }
    </div>
    <br>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Вакансия</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var candidate in candidates)
            {
                <tr>
                    <td>@candidate.FirstName</td>
                    <td>@candidate.SecondName</td>
                    <td>@(candidate.Vacancy != null ? candidate.Vacancy.Title : "")</td>
                    <td align="right">
                        <button @onclick="@(() => ChangeCandidateByModal(candidate.Id))" class="btn btn-primary">Изменить</button>
                        <button @onclick="@(() => DeleteCandidate(candidate.Id))" class="btn btn-danger">Удалить</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private IEnumerable<CandidateDocument> candidates;
    private IEnumerable<CandidateVacancyDocumentProjection> candidateVacanciesProjection;
    private string name;
    private string lastName;
    Guid selectedActualVacancyId;

    protected override async Task OnInitializedAsync()
    {
        await LoadCandidates();

        var vacancies = await Http.GetFromJsonAsync<List<VacancyDocument>>($"api/vacancies/query?minCloseDateTime={DateTime.Now}");

        candidateVacanciesProjection = vacancies.Select(x => x.ToCandidateVacancyDocumentProjection());
    }

    [CascadingParameter] public IModalService Modal { get; set; }

    private async Task LoadCandidates()
    {
        candidates = await Http.GetFromJsonAsync<List<CandidateDocument>>("api/candidates/query");
    }

    private async Task AddCandidate()
    {
        if (name == null || lastName == null || selectedActualVacancyId == Guid.Empty)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Заполните все поля.");
        }
        else
        {
            var candidateDocument = new CandidateDocument
                {
                    FirstName = name,
                    SecondName = lastName,
                    Vacancy = candidateVacanciesProjection.Where(o => o.Id == selectedActualVacancyId).Single()
                };
            name = null;
            lastName = null;
            selectedActualVacancyId = Guid.Empty;

            var jsonContent = JsonContent.Create(candidateDocument, new MediaTypeHeaderValue("application/json"));
            await Http.PostAsync("api/candidates", jsonContent);

            await LoadCandidates();
        }
    }

    private async Task ChangeCandidateByModal(Guid id)
    {
        var parameters = new ModalParameters();

        parameters.Add(nameof(EditCandidateModal.Id), id);

        var candidateModal = Modal.Show<EditCandidateModal>("Изменение кандидата", parameters);

        var result = await candidateModal.Result;

        if (!result.Cancelled)
        {
            await LoadCandidates();
        }
    }

    private async Task DeleteCandidate(Guid id)
    {
        await Http.DeleteAsync("api/candidates/" + id);
        await LoadCandidates();
    }
}
